.container-pokeInfo{
    background-color: white;
    width: 360px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}

.container-img{
    width: 95%;
    height: 80%;
    background-color: aqua;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-image: url(../../assets/images/fondo-pkm.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pokeImg{
    margin-top: 20px;
}

.button-view-back{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.actions-pokeInfo{
    padding: 10px 0px;
}

.container-types{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.type{
    padding-top: 10px;
    margin-bottom: -5px;
    font-size: 12px;
}

.steel{
    color: lightgray;
}

.water{
    color: royalblue;
}

.bug{
    color: yellowgreen;
}

.dragon{
    color: mediumslateblue;
}

.electric{
    color: yellow;
}

.ghost{
    color: purple;
}

.fire{
    color: crimson;
}

.fairy{
    color: rgb(255, 136, 238);
}

.ice{
    color: aquamarine;
}

.fighting{
    color: firebrick;
}

.normal{
    color: lavender;
}

.grass{
    color: lime;
}

.psychic{
    color: violet;
}

.rock{
    color: peru;
}

.dark{
    color: slategray;
}

.ground{
    color: burlywood;
}

.poison{
    color: mediumpurple;
}

.flying{
    color: #81B9EF;
}