.container-pokeInfo{
    background-color: white;
    width: 360px;
    height: 300px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
}

.container-img{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-image: url(../../assets/images/fondo-pkm.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-info{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.637);
}

.container-doors{
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 260px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-glass{
    animation: glassRevert 1s linear;
}

.box-info{
    width: 100%;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-evolution{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.evolution{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
}

.name-pokemon{
    background: linear-gradient(90deg, #ff0000 0%, #ffffff 9%, #ffffff 89%, #ff0000 95%);
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
}

.no-evolution{
    font-size: 25px;
    font-weight: bold;
    color: red;
    margin-top: 15px;
}

.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.301);
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px
}

.pokeImg{
    margin-top: 20px;
}

.picture-evolution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-info{
    font-size: 13px;
    font-weight: bold;
}

.text-data{
    font-size: 13px;
    color: rgba(128, 128, 128, 0.548);
}

.divider{
    width: 100%;
    margin: 20px 0px 6px 0px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button-info-off{
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: rgb(124, 124, 124);
    box-shadow: inset -5px -4px 1px rgb(71, 71, 71);
}

.button-info-off:active{
    background-color: rgb(71, 71, 71);
    color: white;
}

.button-info-on{
    background-color: rgb(45, 250, 18);
    box-shadow: inset -5px -4px 1px rgb(29, 161, 12),
                0px 0px 10px rgb(45, 250, 18);
}

.button-info-on:active{
    background-color: rgb(29, 161, 12);
    color: white;
}

.button-shiny-on{
    background-color: rgb(242, 250, 18);
    box-shadow: inset -5px -4px 1px rgb(147, 152, 12),
                0px 0px 10px rgb(242, 250, 18);
}

.button-shiny-on:active{
    background-color: rgb(147, 152, 12);
    color: white;
}

.button-view-back{
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    background-color: rgb(66, 188, 254);
    box-shadow: inset -5px -4px 1px rgb(31, 109, 151);
}

.button-view-back:active{
    background-color: rgb(31, 109, 151);
    color: white;
}

.actions-pokeInfo{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-types{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.text-search-pokemon{
    font-size: 25px;
    font-weight: bold;
    color: white;
    animation: searchText 1s ease-in-out infinite alternate;
}

.box-search-fail{
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../../assets/images/pikachu-triste.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
}

.text-search-fail{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
    color: white;
}

.door-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: brown;
    border-radius: 4px 0px 0px 4px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
}

.door-right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: brown;
    border-radius: 0px 4px 4px 0px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

.door-close{
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
}

.circle-door-left, .circle-door-right {
    width: 15px;
    height: 15px;
    background-color: #a9a9a9;
    border-radius: 50%;
}

.circle-door-left{
    margin-right: 7px;
}

.circle-door-right{
    margin-left: 7px;
}

.type{
    padding-top: 10px;
    margin-bottom: -5px;
    font-size: 12px;
}

.steel{
    color: lightgray;
}

.water{
    color: royalblue;
}

.bug{
    color: yellowgreen;
}

.dragon{
    color: mediumslateblue;
}

.electric{
    color: yellow;
}

.ghost{
    color: purple;
}

.fire{
    color: crimson;
}

.fairy{
    color: rgb(255, 136, 238);
}

.ice{
    color: aquamarine;
}

.fighting{
    color: firebrick;
}

.normal{
    color: lavender;
}

.grass{
    color: lime;
}

.psychic{
    color: violet;
}

.rock{
    color: peru;
}

.dark{
    color: slategray;
}

.ground{
    color: burlywood;
}

.poison{
    color: mediumpurple;
}

.flying{
    color: #81B9EF;
}

@keyframes glassRevert {
    from{
        transform: rotateY(180deg);
    }

    to{
        transform: rotateY(0deg);
    }
}

@keyframes searchText {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 400px) {
    .container-pokeInfo {
        width: 310px;
        height: 300px;
    }
}