.container-pokeBase{
    background-color: red;
    width: 500px;
    height: 660px;
    box-shadow: 0px 10px 10px black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-circuit{
    width: 95%;
    height: 95%;
    border: 6px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}